# https://editorconfig.org - aligns with .gitattributes (LF default; CRLF for *.bat / *.cmd)
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,xml,xsd,wsdl,properties,txt,json}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.bat]
end_of_line = crlf

[*.cmd]
end_of_line = crlf
