# Copyright 2011 NEHTA; Copyright 2021-2026 ADHA. Apache-2.0 - see LICENSE.txt.
#
# Copy to local.properties beside the JVM working directory (gitignored).
# Used by HiWsdlArtifactRoot (HI_WSDL_ARTIFACT_ROOT) and by this repo's integration tests.
# See README.md (runtime) and CONTRIBUTING.md (building and testing this repository).

HI_WSDL_ARTIFACT_ROOT=./wsdls/xml

HI_KEYSTORE_TYPE=JKS
HI_KEYSTORE_PATH=./src/test/resources/keystore.jks
HI_KEYSTORE_PASSWORD=
HI_KEY_PASSWORD=

# PKCS12 from your ADHA registration pack (see CONTRIBUTING.md):
# HI_KEYSTORE_TYPE=PKCS12
# HI_KEYSTORE_PATH=./certs/<your-ra-folder>/fac_sign.p12
# HI_KEYSTORE_PASSWORD=<keystore-password>
# HI_KEY_PASSWORD=<key-password>

HI_KEY_ALIAS_MEDICARE=
HI_KEY_ALIAS_MEDICARE_IHI=
HI_KEY_ALIAS_MEDICARE_HPIO=
HI_KEY_ALIAS_MEDICARE_CSP=
HI_KEY_ALIAS_DRP=

HI_TRUSTSTORE_TYPE=JKS
HI_TRUSTSTORE_PATH=./src/test/resources/truststore.jks
HI_TRUSTSTORE_PASSWORD=

HI_MEDICARE_ENDPOINT_BASE=https://www5.medicareaustralia.gov.au/cert/soap/services/

HI_DRP_IHI_SEARCH_ENDPOINT_URL=
HI_DRP_HPII_SEARCH_ENDPOINT_URL=
HI_DRP_HPIO_SEARCH_ENDPOINT_URL=

HI_USER_QUALIFIER=
HI_USER_QUALIFIED_ID=

HI_VENDOR_QUALIFIER=
HI_VENDOR_QUALIFIED_ID=

HI_HPIO_QUALIFIER=
HI_HPIO_QUALIFIED_ID=

HI_NEHTA_HPIO_QUALIFIER=
HI_NEHTA_HPIO_QUALIFIED_ID=

HI_PRODUCT_NAME=
HI_PRODUCT_VERSION=
HI_PRODUCT_PLATFORM=
